body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 400px;
    height: 400px;
    background-color: red;

    animation-name: sandromation;
    animation-duration: 7s;
}

@keyframes sandromation {
    0% {
        background-color: aqua;
    }

    15% {
        background-color: aquamarine;
    }

    30% {
        background-color: bisque;
    }

    45% {
        background-color: blue;
    }

    60% {
        background-color: blueviolet;
    }

    75% {
        background-color: brown;
    }

    90% {
        background-color: red;
    }

    100% {
        background-color: green;
    }
}