.box1 {
    background-color: rgb(242, 0, 255);
    width: 400px;
    height: 400px;
}

.box1:hover {
    transform: scale(2);
    transform-origin: 400px;
}

.box2 {
    position: absolute;
    top: 700px;
    background-color: rgb(242, 0, 255);
    width: 400px;
    height: 400px;
}

.box2:hover {
    transform: rotate(150deg);
}

.box3{
    position: absolute;
    top: 1500px;
    background-color: rgb(242, 0, 255);
    width: 400px;
    height: 400px;
}

.box3:hover{
    transform: translate(100px);
}