* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 90px;
    background-color: rgb(41, 34, 34);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: white;
}

h1 {
    font-size: 55px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    border: 1px solid white;
    font-size: 20px;
    color: rgb(41, 34, 34);
    transition: 0.25s;
}

button:hover {
    background-color: rgb(41, 34, 34);
    color: white;
}


@media screen and (max-width: 1000px) {
    header {
        justify-content: space-between;
        padding: 0px 10px;
    }

    h1 {
        font-size: 40px;
    }

    a {
        font-size: 16px;
    }

    button {
        font-size: 16px;
        padding: 5px 10px;
    }

    ul {
        gap: 10px;
    }
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 15px 10px;
    }
}

@media screen and (max-width: 270px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
}