body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
}

.parent {
    position: relative;
}

.red-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    right: 0px;
}