@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
}

td, th {
    box-shadow: 0 4px 8px rgb(214, 214, 209);
}
table {
border-collapse: collapse;

border-radius: 30px;
width: 400px;
}

tr:first-child {
    background-color: #019879;
    color: white;
}

tr:nth-child(3) {
    background-color: #fdf8d4;
    color: #019879;
}