body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    display: flex;
    justify-content: space-between;
    
    width: 800px;
    height: 800px;
    border: 5px solid black;
}

.child {
    width: 200px;
    height: 200px;
    background-color: rgb(190, 130, 243);
    border: 3px solid red;
}